# --------------------
#
# iizna.
#
# ====================

# ビルド結果のファイルは追跡しません。
target/

# Cargo.lockはビルド時に使用したライブラリのバージョンを列挙したものです。
# Cargo.lockは追跡しません。
Cargo.lock

# rustfmtによるバックアップファイルは追跡しません。
**/*.rs.bk

# 個人環境用の設定ファイルは追跡しません。
desktop.ini
